body {
    font-family: 'Segoe UI', sans-serif;
}

.hocvien {
    padding: 50px 40px;
}

.hocvien .title {
    font-size: 32px;
    font-weight: 700;
    color: #14256d;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.hocvien .card {
    border-radius: 12px;
}

.hocvien .filter-course {
    margin-bottom: 25px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.hocvien .filter-course label {
    font-weight: 600;
    min-width: 130px;
    margin-top: 0px;
}

.hocvien .form-select-sm {
    width: 330px;
}

.hocvien .filter-icon {
    font-size: 1.5rem;
}

.hocvien .list-group-item img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}