<!DOCTYPE html>
<html lang="vi"
    th:replace="~{/views/gdienChung/templateChung.html::view(~{::main}, ~{::title})}">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Thêm khoá học - Bước 1</title>
    </head>

    <body>
        <main class="themkhoahoc">
            <div class="container">
                <h2 class="main-title mt-5">THÊM KHOÁ HỌC - BƯỚC 1</h2>
                <form th:action="@{/giangvien/them-moi-khoa-hoc/save-info}"
                    th:object="${course}" method="post"
                    enctype="multipart/form-data" class="mb-5">
                    <input type="hidden" th:field="*{khoahocId}" />

                    <label>Tên khóa học:</label>
                    <input type="text" th:field="*{tenKhoaHoc}"
                        placeholder="VD: Java cho người mới bắt đầu"
                        autocomplete="off" />
                    <p th:if="${#fields.hasErrors('tenKhoaHoc')}"
                        th:errors="*{tenKhoaHoc}" class="text-danger"></p>

                    <label>Mô tả khóa học:</label>
                    <textarea th:field="*{moTa}" rows="5"
                        placeholder="Mô tả chi tiết..."></textarea>
                    <p th:if="${#fields.hasErrors('moTa')}" th:errors="*{moTa}"
                        class="text-danger"></p>

                    <label>Danh mục:</label>
                    <select th:field="*{danhMuc.danhmucId}">
                        <option th:each="c : ${danhmuc}"
                            th:value="${c.danhmucId}"
                            th:text="${c.tenDanhMuc}"></option>
                    </select>

                    <label>Video giới thiệu:</label>
                    <input type="text" name="urlGioiThieu"
                        th:value="*{urlGioiThieu}" placeholder="https://..."
                        pattern="^(https?:\/\/)?(www\.youtube\.com|youtu\.be)\/.+$"
                        title="Link video của bạn không hợp lệ (ví dụ: https://youtu.be/abc123)"
                        required />

                    <label>Ảnh bìa khóa học:</label>
                    <input type="file" name="file" />

                    <div class="d-flex justify-content-end">
                        <button class="btn custom-outline" type="submit">Tiếp
                            tục</button>
                    </div>

                </form>
            </div>
        </main>
    </body>

</html>