<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Thông báo</title>
    <link rel="stylesheet" href="/css/giangVien/my-courses.css">
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <div class="sidebar-title">Bảng điều khiển</div>
        <ul class="sidebar-menu">
            <li><a href="/gv" class="sidebar-link">Khoá học của tôi</a></li>
            <li><a href="/thong-bao" class="sidebar-link">Thông báo</a></li>
            <li><a href="#" class="sidebar-link">Hồ sơ cá nhân</a></li>
            <li><a href="/qlbg" class="sidebar-link">Quản lý bài giảng</a></li>
        </ul>
    </aside>
    <main class="main-content">
        <div style="font-size: 22px; font-weight: 600; margin-top: 30px;">Đây là trang Thông báo</div>
    </main>
</div>
</body>
</html> 