<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{views/gdienChung/templateChung :: view(~{::main}, 'Xác nhận nâng cấp tài khoản')}">
<main class="xacnhan-nangcap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <h2>🔓 Nâng cấp tài khoản</h2>
                <p>📧 Email <strong th:text="${session.registrationEmail}"></strong> đã được đăng ký với vai trò là một
                    <strong>học viên</strong>.
                </p>
                <p>🎓 Bạn có muốn nâng cấp tài khoản này lên thành <strong>giảng viên</strong> không?</p>
                <a th:href="@{/dang-ky-giang-vien/upgrade-details}" class="btn btn-primary">Đồng ý nâng cấp</a>
                <a th:href="@{/}" class="btn btn-secondary">Hủy bỏ</a>
            </div>
        </div>
    </div>
</main>

</html>