<!DOCTYPE html>
<html lang="vi" th:fragment="view(content, title)">

<head th:replace="~{/views/gdienNhanVien/layout/headerNhanVien}">
    <title th:replace="${title}">Hello</title>
</head>

<body>

    <div class="nv-layout">
        
        <!-- Sidebar -->
        <div id="sidebar">
            <div class="p-3 border-bottom">
                <h4>Quản lý</h4>
            </div>
            <nav class="nav flex-column p-3">
                
                <a class="nav-link" href="/nhanvien/danh-muc">📦 Quản lý danh mục</a>

                <a class="nav-link" href="/nhanvien/thanh-toan">📦 Quản lý thanh toán</a>
                <a class="nav-link" href="/nhanvien/giao-dich">💰 Giao dịch khóa học</a>
                <a class="nav-link" href="/nhanvien/hoc-vien">👨‍🎓 Quản lý học viên</a>
                <a class="nav-link" href="#">📢 Thông báo hệ thống</a>
                <a class="nav-link" href="#">📊 Thống kê hệ thống</a>
                <a class="nav-link" href="#">💬 Bình luận, đánh giá</a>
            </nav>
        </div>
        <!-- Main Content -->
        <div id="content">
            <nav class="navbar fixed-top-nv" style="background: #0b1c36; height: 56px;">
                <div class="container-fluid">
                    <span id="toggle-btn" class="navbar-toggler-icon" style="filter: invert(1);"></span>
                    <!-- <span class="ms-3 fw-bold" style="color: #fff;">Xin chào, Nhân viên!</span> -->
                </div>
            </nav>
            <main th:replace="${content}">
                <h1>Content</h1>
            </main>
        </div>
    </div>

    <!-- <div th:replace="~{/views/gdienNhanVien/layout/footerNhanVien}"></div> -->
    <!-- Bootstrap JS & Toggle Script -->
    <script>
        const toggleBtn = document.getElementById("toggle-btn");
        const sidebar = document.getElementById("sidebar");
        const content = document.getElementById("content");

        toggleBtn.addEventListener("click", () => {
            sidebar.classList.toggle("active");
            content.classList.toggle("shifted");
        });
    </script>

</body>

</html>